@import "~bootstrap-icons/font/bootstrap-icons.css";
#one{
    margin: 5px 5px;

}
i{
    font-size: larger;
}
#one1 {
    color: #D40B17;
    font-weight: bold;
}
#one2{
    font-weight: bold;
    margin: 0% 30%;
}
#nav1 {
    background-color: #CED7D8;
}
#offcanvas{
    background-color:  #CED7D8;
}
span,i{
    color:black;
    font-weight: 500;
    font-size: large;
}
label{
    font-weight: bold;
}
button{
    margin-top: 2%;
    margin-right: 2%;
}

* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=number], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
 
  input[type=radio]{
    margin-top: 1%;
  }
  
  input[type=register]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }